<div class="panel panel-primary">
  <div class="panel-heading">
    Crie seu mapa
  </div>
  <div class="panel-body">
    <%= form_for @map_location , :html => {:class => "form-horizontal"} do |f| %>
      <% if @map_location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@map_location.errors.count, "error") %> prohibited this map_location from being saved:</h2>

          <ul>
          <% @map_location.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :name, :class => "required control-label" %><br>
        <%= f.text_field :name, :class => "string required form-control" %>
      </div>
      <div class="field">
        <small>Adicionar as rotas sepaaradas por virgula e os pontos por espaço. ex: A B 10, B D 15</small>
        </br>
        <%= f.label :road_info %><br>
        <%= f.text_area :road_info, :class => "text required form-control" %>
      </div>
      <div class="actions">
        <%= f.submit  "Criar Mapa", :class => "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
