<h1>Listando mapas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Rota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @map_locations.each do |map_location| %>
      <tr>
        <td><%= map_location.name %></td>
        <td><%= map_location.road_info %></td>
        <td><%= link_to 'Mostrar', map_location %></td>
        <td><%= link_to 'Editar', edit_map_location_path(map_location) %></td>
        <td><%= link_to 'Apagar', map_location, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo mapa', new_map_location_path %>
