<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @map_location.name %>
</p>

<p>
  <strong>Rota:</strong>
  <%= @map_location.road_info %>
</p>

<%= link_to 'Editar', edit_map_location_path(@map_location) %> |
<%= link_to 'Voltar', map_locations_path %>
